body {
  background: black;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

input {
  outline: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.table-responsive {
  margin: auto;
}

p {
  margin: 0 !important;
}

.header {
  padding-top: 30px;
  position: relative;
  display: block;
  text-align: center;
  height: 250px;
  margin: auto;
  border-bottom: 1px solid black;
  width: 100%;
  background-color: white;
  color: black;
}

.pick-a-day {
  position: relative;
  margin: auto;
  text-align: center;
}

.btn-success {
  color: #fff !important;
  background-color: black !important;
  border-color: black !important;
  text-align: center;
  margin: auto;
  position: relative;
  position: absolute;
  left: 0;
  right: 0;
  width: 200px;
  margin-top: 20px;
}

.starts-on-title {
  position: relative;
  padding-bottom: 5px;
}

.starts-on-title > span {
  color: green;
}
