<div ng-init='init();' class='container'>
  <div class="header">
  	<p class="starts-on-title">Repeats: Weekly</p>
  	<span>Repeats Every<input ng-model='activity.interval' type='number' min='1' max='10' placeholder='1'> Week(s)</span>
  	<p class="starts-on-title">{{ summary }}
    <p class="starts-on-title">Starts On <span>{{ startsOnFormatted }}</span></p>
    <p class="starts-on-title">Starts At <span>{{ startsAtFormatted }}</span></p>
    <p class="starts-on-title">Ends At <span>{{ endsAtFormatted }}</span></p>
  </div>
  <div ng-hide='startsOnFormatted'>
    <datetimepicker data-datetimepicker-config="{ startView: 'day', minView: 'day' } " data-ng-model="data.date" data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)" data-on-set-time="setStartsOn(newDate)"></datetimepicker>
  </div>
  <div ng-show='startsOnFormatted && !startsAtFormatted'>
    <datetimepicker data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 15 } " data-ng-model="data.date" data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)" data-on-set-time="setStartsAt(newDate)"></datetimepicker>
  </div>
  <div ng-show='startsOnFormatted && startsAtFormatted'>
    <datetimepicker data-datetimepicker-config="{ startView: 'hour', minView: 'minute', minuteStep: 15 } " data-ng-model="data.date" data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)" data-on-set-time="setEndsAt(newDate)"></datetimepicker>
  </div>
  <a href="#" ng-click='onSubmit()' class="btn btn-success btn-large">Submit</a>
</div>
