<div ng-init='init();' class='container'>
  <div class="header">
    <p class="starts-on-title">Repeats: Weekly </p>
    <p class="starts-on-title">Repeats Every
      <input ng-model='activity.recurrence.interval' type='number' min='1' max='10' placeholder='1'> Week(s)</p>
    <p class="starts-on-title">Repeats On: {{ repeatsOn }}</p>
    <div>
      <input id="monday" type="checkbox" />
      <label for="monday">Monday</label>
      <input id="tuesday" type="checkbox" />
      <label for="tuesday">Tuesday</label>
      <input id="wednesday" type="checkbox" />
      <label for="wednesday">Wednesday</label>
      <input id="thursday" type="checkbox" />
      <label for="thursday">Thursday</label>
      <input id="friday" type="checkbox" />
      <label for="friday">Friday</label>
      <input id="saturday" type="checkbox" />
      <label for="saturday">Saturday</label>
      <input id="sunday" type="checkbox" />
      <label for="sunday">Sunday</label>
    </div>
      <p class="starts-on-title">Starts On: <span>{{ startsOnFormatted }}</span></p>
      <p class="starts-on-title">Starts At: <span>{{ startsAtFormatted }}</span></p>
      <p class="starts-on-title">Ends At: <span>{{ endsAtFormatted }}</span></p>
      <p class="starts-on-title">Expires On: <span>{{ expiresOnFormatted }}</span></p>
      <p ng-hide='errMessage.length' class="starts-on-title">{{ summary }}</p>

      <div class="line-break"></div>
  </div>
  <div ng-hide='startsOnFormatted'>
    <datetimepicker data-datetimepicker-config="{ startView: 'day', minView: 'day' } " data-ng-model="data.date" data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)" data-on-set-time="setStartsOn(newDate)"></datetimepicker>
  </div>
  <div ng-show='startsOnFormatted && !startsAtFormatted'>
    <datetimepicker data-datetimepicker-config="{ startView: 'minute', minView: 'minute', minuteStep: 15 } " data-ng-model="data.date" data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)" data-on-set-time="setStartsAt(newDate)"></datetimepicker>
  </div>
  <div ng-show='startsOnFormatted && startsAtFormatted && !endsAtFormatted'>
    <datetimepicker data-datetimepicker-config="{ startView: 'minute', minView: 'minute', minuteStep: 15 } " data-ng-model="data.date" data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)" data-on-set-time="setEndsAt(newDate)"></datetimepicker>
  </div>
    <div ng-show='startsOnFormatted && startsAtFormatted && endsAtFormatted && !expiresOnFormatted'>
    <datetimepicker data-datetimepicker-config="{ startView: 'day', minView: 'day' } "  data-ng-model="data.date" data-before-render="beforeRender($view, $dates, $leftDate, $upDate, $rightDate)" data-on-set-time="setExpiresOn(newDate)"></datetimepicker>
  </div>
      <p ng-show='errMessage.length' class="starts-on-title err-message">{{ errMessage }}</p>

  <a ng-hide='errMessage.length' href="#" ng-click='onSubmit()' class="btn btn-success btn-large">Submit</a>
</div>
